<header>
    <nav>
        <a href="/">MoBoo App</a>
        <ul>
            <li><a href="/movies">Movies</a></li>
            <li><a href="/movies/new">Add Movies</a></li>
        </ul>
    </nav>

</header>