// this index ejs file is my home page layout connecting to my partial folder header ejs

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoBoo App</title>
</head>
<body>
    Welcome to MoBoo Library
    <ul>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/movies/new">Add Movies</a></li>
    </ul>
   

</body>
</html>