<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoBoo Library</title>
    <a href="index.html">MoBoo HOMEPAGE</a>
</head>
<body>
    <a href="/books">BOOKS</a>
    <h1>New Book</h1>
    <div class="flex-container">
        <form action="/entry/" method="post">
            <input type="text" name="title" placeholder="author" />
            <textarea name="content" placeholder="content"></textarea>
            <input type="number" name="starDate" value="12022" />
            <button type="submit">New Book</button>
        </form>
    </div>
</body>
</html>