<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoBoo Library</title>
    <a href="/">MoBoo HOMEPAGE</a>
</head>
<body>
    
    <h1>Thank you for adding new movie to the Library</h1>
    <div class="createNewMovies">
        <form action ="/movies" method="post" id="createForm">
            <input type="text" name="title" placeholder="Title" required />
            <input type="text" name="director" placeholder="Director" />
            <input type="text" name="description" placeholder="Description" />
            <input type="text" name="release_date" placeholder="Release Date" />
            <input type="text" name="img" value="" placeholder="Add Image"/>
            <button type="submit">Add New Movie</button>
        </form>
    </div>
</body>
</html>