<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoBoo Library</title>
    <link rel="seed" href="./seed">
</head>
<body>
  
    <div>
    <a href="/">MoBoo HOMEPAGE</a>
    
        <h1> <%=book.title %> </h1>
        <img alt="<%= book.title%>" src="<%=book.img%>" id="books">
        </div>
    <a href="/books"></a>
    </div>
    <a href="/books/<%= movie._id %>/edit">EDIT</a>
  
</body>
</html>