<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoBoo Library</title>
    <link rel="seed" href="./seed">
</head>
<body>
  
    <div>
    <a href="/">MoBoo HOMEPAGE</a>
    
        <h1> <%=movies.title %> </h1>
        <img alt="<%= movies.title%>" src="<%=movies.img%>" id="movies">
        </div>
    <a href="/movies"></a>
    </div>
    <a href="/movies/<%= movies._id %>/edit">EDIT</a>
    <h2><%movies.description%></h2>
</body>
</html>