<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoBoo Library</title>
    <link rel="seed" href="./seed">
</head>
<body>
    <% for (let movie of movies) {%>
    <div>
    <a href="index.html">MoBoo HOMEPAGE</a>
    
        <h1> <%=movies.title %> </h1>
        <img alt="<%= movies.title%>" src="<%=movie.img%>" id="movies">
        </div>
    <a href="/movies"></a>
    </div>
    <% } %>
</body>
</html>