/* ================ */
/*     GENERAL      */
/* ================ */
body {
    background-color: turquoise;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', helvetica;
  }
  a {
    text-decoration: none;
  }

/* ================ */
/*      HEADER      */
/* ================ */



/* ================ */
/* INDEX / HOMEPAGE */
/* ================ */



/* ================ */
/*       SHOW       */
/* ================ */



/* ================ */
/*       NEW        */
/* ================ */